
.__className_e66fe9{
    background-image: url(../images/FLASHMEUP-63.jpg);
}
a{
    color: #6a1919 !important;
    text-align: center !important;
    font-weight: revert;
    font-size: 18px;
}
.ourStory{
   background-color: transparent !important;
}

.storyContent{
    color: #579581;
}
.locationMainDiv{
    background-color: yellowgreen;
}

.locationContactButton{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 22px !important;
}
h1{
    font-weight: bold;
    font-size:20px;
    border-radius: 10px;
    text-align: center;
    background-color: #00000059;
}
h3{
    font-size: 40px !important;
    font-weight: bold !important;
}

.varnyaLocationImg{
    border-radius: 100% !important;
}

.ourServices{
    background: transparent !important;
}
.serviceSnap{
    border: 0.5px solid white;
    font-size: 60px;
    color: whitesmoke;
}
.PhotoGaleryBlock{
    cursor:url(../images/cursor-eye.svg),pointer;
}

.PhotoGaleryBlock:hover{
	filter: grayscale(1);
}